USER_ID=
ACCOUNT_ID=
ACCESS_TOKEN=
PROJECT=
WORKBOOK_USERNAME
WORKBOOK_PASSWORD
DECIMAL_DELIMITER
# DECIMAL_DELIMITER EXAMPLES
#              2:08, 2:18, 2:51
# 6 = 60/6  =  2,166 2,333 2,8333
# 4 = 60/4  =  2,25  2,25  2,75
# 2 = 60/2  =  2     2,5   3